<html>
    <head>
      {% if title %}
      <title>{{ title }} - IoT</title>
      {% else %}
      <title>Welcome to IoT Server</title>
      {% endif %}
    </head>
    <body>
        <div>Navbar: <a href="/index">Home</a>  <a href="/post">Data </a>  <a href="/updategate">Update Gate </a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>




